body {
    font-family: 'Electrolize';
    font-size: 16px;
    color: #ffffff;
    /*background-color: #0099b5;*/
}


.g2-pkmBox {
    position: relative;
    float: left;
    background-color: #688c87;
    width: 120px;
    height: 120px;
    margin: 3px;
    /*
    border: solid;
    border-color: red;*/
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

img {
    position: relative;
    z-index: 1;
}


.g2-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.g2-sprite {
    vertical-align: bottom;
}

.g2-pkmName {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 116px;
    color: black;
    background-color: white;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
}

.g2-spriteDiv {
    position: absolute;
    /*border: solid;
    border-color: blue;*/
    width: 120px;
    vertical-align: bottom;
    bottom: 0;
}

.g2-test {
    position: relative;
    top: 95px;
}

.g2-NORMAL {
    background-color: #dedac1;
}

.g2-GRASS {
    background-color: #b2cf7c;
}

.g2-FIRE {
    background-color: #e8bbb5;
}

.g2-WATER {
    background-color: #b9e5ff;
}

.g2-ELECTRIC {
    background-color: #f5ecb0;
}

.g2-FLYING {
    background-color: #ccebff;
}

.g2-BUG {
    background-color: #dfedbb;
}

.g2-POISON {
    background-color: #b0a5c4;
}

.g2-FIGHTING {
    background-color: #d4ab9f;
}

.g2-PSYCHIC {
    background-color: #ffbfd9;
}

.g2-DARK {
    background-color: #969699;
}

.g2-GHOST {
    background-color: #9c8eab; /*#a39bab*/
}

.g2-ICE {
    background-color: #dfffff;
}

.g2-ROCK {
    background-color: #b8b1ab; /*#a6a09a*/
}

.g2-GROUND {
    background-color: #decab1;
}

.g2-STEEL {
    background-color: #cee0e0;
}

.g2-DRAGON {
    background-color: #bfa5c7;
}

.g2-FAIRY {
    background-color: #ffccdf;
}
