body {
    font-family: 'Electrolize';
    font-size: 16px;
    color: #ffffff;
    /*background-color: #12424a;*/
    /*background-color: #0a2226;*/
    background-color: #bcd4d1;
}

form.searchb {
    padding-bottom: 10px;
    padding-top: 10px;
}


#pkmtable{
    width: 175px;
    float: left;
}

.pkminfo {
    position: absolute;
    left: 250px;
    float: left;
    width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
    /*background-color: #0099b5;*/
    background-color: #688c87;
    clear:both;
    
}

.sectionOne {
    position: relative;
    left: 270px;
    width: 210px;
}

.type1 {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.type2 {
    padding: 5px;
    float: left;
}

.sectionTwo {
    position: relative;
    width: 500px;
    height:70px;
    right:10px;
    
}

.sectionFour {
    position: relative;
    left: 50px;
}

.sectionFive {
    position: relative;
    left: 75px;
}

.sectionSix {
    position: relative;
    right: 30px;
    top: 90px;
    float: left;
}

input[type=submit] {
    color: #4d5f5c;
    background-color: #8abdb7;
    border: none;
    padding: 15px 32px;
    margin: 4px 10px;
}

.rate {
    position:relative;
    float: left;
    padding: 10px;
}

.stat {
    float:left;
    padding: 5px;
}
.evstat {
    position:relative;
    float: left;
    padding: 10px;
    left:10px;
}


canvas {
    position: relative;
    left: 130px;
    border-radius: 10px;
}

.egggroup {
    position: relative;
    float: left;
    padding:10px;
}



thead, tbody {
    display: block;
    color: #4d5f5c;
}

tbody.pkmlist {
    max-height: 450px;
    overflow: auto;
    width: 200px;
    color: #4d5f5c;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}


/*Moves*/
thead.movelist {
    display: block;
    color: #4d5f5c;
}

tbody.movelist {
    max-height: 450px;
    overflow: auto;
    width: 700px;
    display: block;
    color: #4d5f5c;
}


th.movelist {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px;
    color: #bcd4d1
}

td.movelist {
    border: 1px solid #dddddd;
    background-color: #8abdb7;
    text-align: left;
    padding-right: 16px;
    padding-left: 16px;
}

.deleteMove {
    background-color: #f08c81;
    border: none;
    color: white;
    border-radius: 15px;
    opacity: 1;

}

.movelistX {
    opacity: 0;
}


/*****/
tr:hover {
    /*background-color: #045fac;*/
    background-color: #688c87;
    color: #ffffff;
}

tr:hover > .movelistX {
    opacity: 1;
}

.selected {
    /*background-color: #00a9c7;*/
    background-color: #8abdb7;
    color: #ffffff;
}

input[type=text], input[type=number] {
    /*background-color: #165059;*/
    background-color: #4d5f5c;
    border: none;
    padding: 5px;
}


select,option {
    /*background-color: #165059;*/
    background-color: #4d5f5c;
    border: none;
    padding: 5px;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8abdb7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #688c87;
}

/* Handle hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d5f5c;
}

tbody.pkmlist:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(188,212,209,0), rgba(188,212,209,1) 90%);
    width: 200px;
    height: 4em;
}


.scrolled:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to top, rgba(188,212,209,0), rgba(188,212,209,1) 90%);
    width: 200px;
    height: 4em;
}

#artwork{
    position: absolute;
    top: -10px;
}