body {
    font-family: 'Electrolize';
    font-size: 16px;
}

form.searchb {
    padding-bottom: 10px;
    padding-top: 10px;
}


#pkmtable{
    width: 175px;
    float: left;
}

.pkminfo{
    float:left;
    padding-left:10px;
}

.type1{
    position:relative;
}

.type2 {
    position: absolute;
    bottom:0px;
    right:20px;
}

.hp {
    position: relative;
}

.egggroup1 {
    position: relative;
}

.egggroup2 {
    position: absolute;
    bottom: 0px;
    right: -60px;
}

thead, tbody {
    display: block;
    
}

tbody {
    max-height: 450px;
    overflow: auto;
    width: 200px;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: #ccc;
}

.selected {
    background-color: #6666ff;
    color: #ffffff;
}
